*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #000;
    height: 80vh;
    width: 1500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}
.cricket-score-container {
    
    margin-top: 10px;
  }
  
  .team-score {
    margin-bottom: 20px;
  }
  .title{
    font-size: xx-large;
  }
  .score{
    margin-top: 20px;
    font-size: xx-large;
  }
  .ball{
    text-align: left;
    margin-top: 10px;
  }
  
  .button-group button {
    margin: 0 5px;
  }
  .button-grid {
    display: grid;
    height: 100px;
    width: 200px;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    grid-gap: 1px; /* Gap between buttons */
    justify-content: center;
    align-items: center;
  }  
  .child{
    justify-content: center;
    align-items: center;
    grid-gap: 1px;
  }